.carousel-item img {
    width: 100%;
    height: 530px;
    background-size: 100% 100%;
}

div.card {
    padding: none;
}

.card-img-top {
    height: 250px;
} 

img {
    width: 175px;
    height: 175px;
}

footer {
    background-color: black;
    height: 500px;
    color: white;
}

form.subscribe {
    width:1000px;
    height: 40px;
}

.fa:hover {
    background-color: rgb(41, 47, 221);
}

.lorem {
    text-align: center;
}